<div>
  <form action="/surveys" method="post" class="signup-form">
    <label>Title</label>
    <input type="text" name="title" placeholder="Enter survey title">
    <input type="submit" value="Create new survey">
  </form>
</div>
